<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<p id="demo"></p>


<div style="visibility:hidden">
        <audio autoplay >
            <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3">
        </audio> 
    </div>
    

<script>
// Set the date we're counting down to
var countDownDate = new Date();
console.log(countDownDate);

countDownDate.setMinutes ( countDownDate.getMinutes() + 5 );

console.log(countDownDate);

//new Date("Jul 6, 2021 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>


<script>
        $(document).ready(function(){
            console.log("Very good");
    
    // var x = document.getElementById("myAudio"); 
     
    //   x.play(); 
    });
    </script>

</body>
</html>




<!-- <!DOCTYPE html>
<html>
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

     
        <div style="visibility:hidden">
                <audio autoplay >
                    <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3">
                </audio> 
            </div>
            

<p>Click the buttons to play or pause the audio.</p>

<button onclick="playAudio()" type="button">Play Audio</button>
<button onclick="pauseAudio()" type="button">Pause Audio</button> 

<script>
    $(document).ready(function(){
        console.log("Very good");

// var x = document.getElementById("myAudio"); 
 
//   x.play(); 
});
</script>

</body>
</html> -->





