{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ClassFly Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- LINEARICONS -->
        <link rel="stylesheet" href="fonts/linearicons/style.css">
        
        <!-- STYLE CSS -->
        <link rel="stylesheet" href="css/style.css">
          <link href="{% static 'sign/style.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/style.css' %}" rel="stylesheet">


    </head>

    <body style="background-image: url('https://assets.tvo.org/prod/s3fs-public/media-library/classroom.jpg');">

        <div class="wrapper">
            <div class="inner">
                <!-- <img src="images/image-1.png" alt="" class="image-1"> -->
                <form action="/login" method="POST">
                        <img src="{% static 'images/classfly.jpg' %}"/>
                        <div class="form-holder"></div>
                    <div class="form-holder">
                        <span class="lnr lnr-user"></span>
                        <input type="text" class="form-control" name="username" placeholder="Username/Phone Number">
                    </div>
                    <div class="form-holder">
                        <span class="lnr lnr-lock"></span>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <br>
                    
                    <a href="password_reset" style="color:#03b1fc">Forgot password?</a>
                    <br>
                    <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                    <button>
                        <span>Login</span>
                    </button>
                </form>
                
                <button onclick="window.location.href='signup'" >Signup</button>
                <!-- <img src="images/image-2.png" alt="" class="image-2"> -->
            </div>
            
        </div>
        
        <script src="js/jquery-3.3.1.min.js"></script>
          <script src="{%static 'js/main.js' %}"></script>

    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
    </html>