{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CF Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- LINEARICONS -->
        <link rel="stylesheet" href="fonts/linearicons/style.css">
        
        <!-- STYLE CSS -->
        <link rel="stylesheet" href="css/style.css">
          <link href="{% static 'sign/style.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/style.css' %}" rel="stylesheet">

        <style>
            .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
            </style>



          <!-- script code starts -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>

        $(document).ready(function(){
    //    $('#phase1').hide();
    $('#phase2').hide();
       $('#phase3').hide();
       $('.loader').hide();
       
        });

    //loader function
    function loader_start()
    {
        console.log('done')
        $('.loader').show();
    }

    function loader_stop()
    {
        $('.loader').hide();
    }
        


   

   
    
    function submitm(n)
    {

        var data = {};
        // usrnm = document.forms[n][0].value;
        // psswd = document.forms[n][2].value;

        console.log(document.forms[n].length)
        for(var x = 0;x < document.forms[n].length; x++ )
        {
            data[document.forms[n][x].name] = document.forms[n][x].value
        }
        

        
        console.log(data)
        // actual_password(data)
        return data;
     

    }


   



//Ask for change of pasword and get OTP pahse1
function reset(){

        //start loader
        loader_start();

            var data = submitm(0);
            console.log(data['country']+data['phoneNumber']);
            localStorage.setItem('phoneNumber', data['phoneNumber']);
            localStorage.setItem('countryCode',data['country'])

            data = data['country']+data['phoneNumber'];

           console.log(localStorage.getItem('phoneNumber'))
            $('#error1').html('');   //clear error <p> before REST call
            
         
     $.ajax({
    url: 'https://api-jp.kii.com/api/apps/kmjufxhuj911/users/PHONE:'+data+'/password/request-reset',
    type: 'post',
    data:JSON.stringify({
        "notificationMethod": "SMS",
    "smsResetMethod": "PIN"
  }),
    headers: {
        "Authorization" : "Basic a21qdWZ4aHVqOTExOjY4MjY3ZWQ5NmVmOTQ4M2VhYjE1OWVkMjdlN2U0ODgz",
  "Content-Type": "application/vnd.kii.ResetPasswordRequest+json"
    },
    
    success: function (data) {
        console.info('Sent OTP');
        loader_stop();
        $('#phase1').hide();
        $('#phase2').show();
       
    }
}).fail(
    function(jqXHR, textStatus, errorThrown) {

          console.log(JSON.parse(jqXHR.responseText).message);
          $('#error1').html(JSON.parse(jqXHR.responseText).message);
          loader_stop();
        
     })

    //  loader_stop();
       }






//REST for sending changed password
function actual_password(){

    loader_start(); //starting the loading image

    data = submitm(1);
    data['phoneNumber'] = localStorage.getItem('phoneNumber');
    data['countryCode'] = localStorage.getItem('countryCode');

console.log('very good');

// url: 'https://classfly.in/password_reset',

$.ajax({

url:'password_reset',
type: 'post',
data:data,


success: function (data) {
console.info(data);
loader_stop();
window.location = '/community';
}
}).fail(
function(jqXHR, textStatus, errorThrown) {

loader_stop();
 console.log(JSON.parse(jqXHR.responseText).message);
 $('#error2').html(JSON.parse(jqXHR.responseText).message);

})
}

    </script>

   
    </head>

    <body>

        <div class="wrapper">
            <div class="inner">
<!-- Phase 1 to get OTP using Phone number country code -->
                <div id="phase1">
                <form name="myForm" id="jun" action="/subscribe" method="POST">
                    <img src="{% static 'images/classfly.jpg' %}"/>
                    <h3></h3>
                    <div class="form-holder">
                        <span class="lnr lnr-user"></span>
                        <input type="text" name="phoneNumber" class="form-control" placeholder="PhoneNumber" maxlength="10" required>
                    </div>
                    

                   
                    <div class="form-holder">
                            <span class="lnr lnr-menu"></span>
                        <select name="country" id="cars" class="form-control">
                                <option value="+91">India</option>
                                <option value="+81">Japan</option>
                                <option value="+1">U.S</option>
                                <option value="+977">Nepal</option>
                              </select> 
                    </div>
                    <p id='error1' style="color: red"></p>

                </form>
                
                   <!-- //button for sms signup -->
                   <button onclick="reset()" id="phase1_1">
                        <span>Send OTP</span><div class="loader"></div>
                    </button>
                     
                </div>
<!-- End of Phase 1 , -->



                <!-- Phase 2 to submit OTP   -->

                <div id="phase2">
                        <form name="myForm" id="jun" action="/subscribe" method="POST">
                            <img src="{% static 'images/classfly.jpg' %}"/>
                            {% csrf_token %}
                            <div class="form-holder">
                                <span class="lnr lnr-user"></span>
                                <input type="text" name="otpcode" class="form-control" placeholder="OTP code" maxlength="10">
                            </div>

                            <div class="form-holder">
                                    <span class="lnr lnr-user"></span>
                                    <input type="text" name="new_password" class="form-control" placeholder="New Password" >
                                </div>


                            

        
                            <p id='error2' style="color: red"></p>
        
                        </form>
                        
                           <!-- //button for sms signup -->
                           <button onclick="actual_password()" id="phase1_1">
                                <span>Verify OTP</span><div class="loader"></div>
                            </button>
                        </div>

                <!-- End of Phase 2, to submit OTP -->

               
                     
<!--                 
                <button onclick="change()" id="phase1_1">
                        <span>PasswordChange</span>
                    </button>

                    <button onclick="login()" id="phase1_1">
                        <span>Login</span>
                    </button>


                    
                    <button onclick="actual_password()" id="phase1_1">
                        <span>reset password</span>
                    </button> -->




                   
                    
            </div>
            
        </div>
        
        <!-- <script src="js/jquery-3.3.1.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <!-- <script src="{%static 'js/main.js' %}"></script> -->

    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>