{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Responsive Card</title>
  <link rel="stylesheet" href="{% static 'css/temp.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="card">
    <div class="img-box">
      <img src="https://images.unsplash.com/photo-1603032051299-34a742133450?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="img">        
    </div>
    <div class="content">
      <h2>Card One</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
  
    <div class="card">
    <div class="img-box">
      <img src="https://images.unsplash.com/photo-1603030048314-6d0fe6c44076?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="img">        
    </div>
    <div class="content">
      <h2>Card Two</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
  
    <div class="card">
    <div class="img-box">
      <img src="https://images.unsplash.com/photo-1601758003839-512c0f4159e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="img">        
    </div>
    <div class="content">
      <h2>Card Three</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</div>
<!-- partial -->
  
</body>
</html>
