{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ClassFly</title>
  <link rel="stylesheet" href="{% static 'css/webinar.css' %}">
  <link href="/static/assets/img/fav.png" rel="icon">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165421960-1"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="66089437958-9qai3nufijclobprh164n62hfcparv6i.apps.googleusercontent.com">
 

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-165421960-1');
    </script>




<meta name="google-signin-scope" content="profile email">    


<script>
  function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();
   console.log("ID: " + profile.getId()); // Don't send this directly to your server!
   // console.log('Full Name: ' + profile.getName());
    //console.log('Given Name: ' + profile.getGivenName());
   // console.log('Family Name: ' + profile.getFamilyName());
   // console.log("Image URL: " + profile.getImageUrl());
   // console.log("Email: " + profile.getEmail());

    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("gmail: " + profile.getEmail());
    
    document.cookie = 'key='+profile.getEmail();
    // document.getElementById("go").innerHTML = "";
    // document.getElementById("gotl").innerHTML = "Logged In";
    
  }
</script>

</head>
<body>
<!-- partial:index.partial.html -->

</div>
<div class="container">
  <div class="card">
    <div class="img-box">
      <img src="https://i.ibb.co/dBPvwvs/webinarcommunity.png" width="260px" height="170px" alt="img">        
      <h2>ClassFly Community</h2>
    </div>
    <div class="content">
      <br>
      <p>Online Library to improve Indian Education, Filled with student made videos for every domain and popular languages.
        <br> App with support of different Youtube channel training videos in sorted order for easy learning.</p>
    </div>
  </div>
  
    <div class="card">
    <div class="img-box">
      <img src="https://i.ibb.co/D71qWTk/professinoalbanner.png" width="260px" height="170px" alt="img">        
      <h2>ClassFly Professional</h2>
    </div>
    <div class="content">
      <br>
      <br>
      <p>Program helping students getting exposed to Industry required technologies and skills by having meeting with working professionals.
        <br>
        Students can build projects assigned by Professionals which in turn bring affiliated work into their Portfolio.
      </p>
    </div>
  </div>
  
    <div class="card">
    <div class="img-box">
      <img src="/static/images/registerclassfly.png" width="260px" height="170px" alt="img">        
      <br>
    <h2>ClassFly Event </h2>
    <meta name="google-signin-scope" content="profile email">  
    <div id="go"> <div class="g-signin2" data-onsuccess="onSignIn"></div>  </div>
  </div>
    <div class="content">
      <br>
      <br>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</div>
<!-- partial -->

</body>
</html>
