{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>ClassFly - {{ title }}</title>
    {% else %}
        <title>ClassFly - Community</title>
    {% endif %} 

   <!--####################### Css Here ###################-->

   
<script src="{% static 'jsv/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'jsv/popper.min.js' %}"></script>
<script src="{% static 'jsv/bootstrap.min.js' %}"></script>
<script src="{% static 'pluginsv/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'jsv/script.js' %}"></script>

<!--new Script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!--new Script-->

    <link rel="stylesheet" href="{% static 'cssv/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cssv/fontawsom-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cssv/style.css' %}"/>
      <link rel="stylesheet" href="{% static 'cssv/owl.carousel.css' %}"/>


      <script src="{% static 'jsv/player.js' %}"></script>

      <script>
      
$(document).ready(function(){
  
  if ("{{cf}}" == 'True')
  {
  get("{{video_list}}");
  // console.log("{{video_list}}");
  }
  
});</script>

  <!--####################### Js Here ###################-->
  <style type="text/css">
      .carousel-cell {
    width: 35%;
    padding: 15px;
    background-color: #f1f1f1;
    }


    /* cell number */
    .carousel-cell:before {
      display: block;
    }
        .bg{
      background-color: #f1f1f1; 
    }
        .realated-courses2 {
      padding: 30px;
      margin-top: 0px;
      padding-top: 0px;
    background-color: #f1f1f1;    }
    .rc-title{
      color:  #00008B;
      text-align: center;
      padding-top: 5%;
    }
    .course-item{
background-color: #f1f1f1;

    }
     .small{
      text-align: center;
      font-size: 13px;
      padding-bottom:2%;
      color: grey;
    }

      .course-info{
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          background-color: #FFF;
          margin-bottom: 30px;
          margin-top: -10px;
      }
      .students{
        color: lightblue;
        margin: 0;
        padding: 0;
      }
      .course-text h5{
        color: skyblue;
        text-align: center;
        padding-top: 0.5vw;
        font-size:12px;
      }
      .course-text p{
        font-weight: normal;
          text-decoration: none;
            padding-left:4%;
            padding-right: 4%;
            padding-bottom: 10px;

        text-align: center;
        font-size: 8px;
        color: grey

      }
      hr.new5 {
       border: 5px solid grey;
       border-radius: 5px;
      }




@media screen and (max-width: 800px) {
  .carousel-cell{
    width: 45%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .carousel-cell {
    width: 60%;
  }
}
@media screen and (max-width: 400px) {
  .carousel-cell{
    width: 70%;
  }
}






.blackandwhite {
    filter: gray;
    filter: grayscale(100%);
}


.button_class {
  background-color: #188aed; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
}

  </style>
      <!--New slide-->
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <!--New slide-->
</head>
<body>
  
  <!--####################### Header Starts Here ###################-->
      <header class="continer-fluid ">

          <div id="menu-jk" class="header-bottom">
              <div class="container">
                  <div class="row nav-row">
                      <div class="col-md-3 logo">
                         <img src="/static/imagesv/classfly.jpg" alt="">
                      </div>
                      <div class="col-md-9 nav-col">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                              <ul class="navbar-nav">
                                <li class="nav-item active">
                                  <a class="nav-link" href="{% url 'home'%}">Home </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'about-us'%}">About Us</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'library' %}">Videos</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="home">ClassFly</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="home">Contact US</a>
                                  </li>
                              </ul>
                            </div>
                          </nav>   
                    </div>
                  </div>
              </div>
          </div>
      </header>


 <!--####################### Video Blog Starts Here ###################-->
   
      <div class="container-fluid video-blog">
	  
            <div class="container">
                <!-- <button class="pure-button">A Pure Button</button> -->
                <!--
                <button class="pure-button" onclick="changelist('m2')">Maths2</button>
                <button class="pure-button" onclick="changelist('chem')">Chemistry Mod2</button>
                <button class="pure-button" onclick="changelist('mech')">Mechanical</button>
                <button class="pure-button" onclick="changelist('chem2')">Chemistry Mod2</button>-->
                
                <div class="row">
                    <div class="col-md-8">
                        <!--<div class="row no-margin video-cover">
				            
                          <div id="v1"></div>
                          </div> -->
                    
                          <h2><b>Chapter {{cchpt}}</b></h2>
                         
						   <div class="video-responsive" id="video-responsive">
                 {% if cf %}
                <iframe width="780" height="439" id="ytVideo" name="{{first_video | default:'f6aGTY0CgZs' }}" src="https://www.youtube.com/embed/{{first_video | default:'f6aGTY0CgZs' }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% else %}
                <p>Thid </p>
                <iframe width="780" height="439" id="ytVideo" name="{{first_video.0 | default:'f6aGTY0CgZs' }}" src="https://www.youtube.com/embed/{{first_video.0 | default:'f6aGTY0CgZs' }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}

</div> 
{% if cf %}
<p id='first_title'>ClassFly Community</p>
{% else %}
<p>{{first_video.1}}</p>
{% endif %}
  <!-- Page -->
<br>
<br>
<h2>Chapters</h2>
{% for key,value in chptrs_videos.items %}
<button class="button_class" onclick="chng_window(sub='{{subject}}',id='{{key}}')">Chapter {{key}} have   {{value}} videos</button>

<br>

{% endfor %}
  
    <section class="realated-coursee3 spad">
    <div class="course-warp">
      <h2 class="rc-title">Top Subjects</h2>
      <p class="small">We are bunch of programmers with an hope of helping everyone to learn coding.We set this website with a vision of bringing new learners to interact with professionals in meeting.Over 5000 videos from one Platform.Vision of bringing new learners to interact with professionals in meeting.</p>
    </div>
  </section>

    <div class="bg" class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
      <div class="carousel-cell">
        <img class="w3-image" src="/static/imagesv/1.jpg">
          <div class="course-info">
        <div class="course-text">
          <h5 >Chemistry</h5>
            <p>The strength of Science and its online journal sites rests with the strengths of </p>
        </div>

      </div>
      </div>

      <div class="carousel-cell">
        <img class="w3-image" src="/static/imagesv/2.jpg">
          <div class="course-info">
        <div class="course-text">
          <h5 >Arts</h5>
            <p>The strength of Science and its online journal sites rests with the strengths of </p>
        </div>

      </div>
      </div>
      <div class="carousel-cell">
        <img class="w3-image" src="/static/imagesv/3.jpg">
          <div class="course-info">
        <div class="course-text">
          <h5 >Engineering</h5>
            <p>The strength of Science and its online journal sites rests with the strengths of </p>
        </div>

      </div>
      </div>
          <div class="carousel-cell">
        <img class="w3-image" src="/static/imagesv/4.jpg">
          <div class="course-info">
        <div class="course-text">
          <h5 >Python</h5>
            <p>The strength of Science and its online journal sites rests with the strengths of </p>
        </div>

      </div>
      </div>
          <div class="carousel-cell">
        <img class="w3-image" src="/static/imagesv/5.jpg">
          <div class="course-info">
        <div class="course-text">
          <h5 >BCA</h5>
            <p>The strength of Science and its online journal sites rests with the strengths of </p>
        </div>

      </div>
      </div>
          <div class="carousel-cell">
        <img class="w3-image" src="/static/imagesv/6.jpg">
          <div class="course-info">
        <div class="course-text">
          <h5 >CIVIL</h5>
            <p>The strength of Science and its online journal sites rests with the strengths of </p>
        </div>

      </div>
      </div>
    </div>
<br>
<hr class="new5">

  <!-- Page -->



             
                           
  <!--                <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
                  </div>

                  <!--New Division start  here-->
                 
                   <div class="col-md-4">
                        <div class="row no-margin video-title">
                            <h6><i class="fas fa-book"></i> Related Videos from <br> Chapter {{cchpt}}</h6>
                        </div>
                        {% if vcount == 0%}
                        <p>Sorry, No videos avaliable for this chapter</p>
                        {% endif %}

                        {% if  cf %}
                        {% for i in video_list %}
                        <div class="contri-bghy" onclick="change(varsize = '{{i}}')"  >
                            <div class="image">
                                <img id="img{{i}}" src="https://img.youtube.com/vi/{{i}}/hqdefault.jpg" alt="Black and White"  >
                            </div>
                        </div>
                        <p id="im{{i}}" style="color:red" ></p>
                        <div class="detail">
                          <p id="{{ i }}">ClassFly Community</p>
                                <!-- <p>Engineering Mathematics 2 B S GREWAL Exercise 8 8 2 || <span>Part: 2</span></p> -->
                        </div>

                        {% endfor %}
                       
                        {% else %}
                                     
                        {% for key,value in video_list.items %}
                        <div class="contri-bghy" onclick="change(varsize = '{{i}}')"  >
                            <div class="image">
                                <img id="img{{key}}" src="https://img.youtube.com/vi/{{key}}/hqdefault.jpg" alt="Black and White"  >
                            </div>
                        </div>
                        <p id="im{{key}}" style="color:red" ></p>
                        <div class="detail">
                          <p id="{{ key }}">{{value}}</p>
                                <!-- <p>Engineering Mathematics 2 B S GREWAL Exercise 8 8 2 || <span>Part: 2</span></p> -->
                        </div>

                        {% endfor %}        
                        
                        {% endif %}





                       
                       
                    </div>
                </div>
            </div>
        </div>   




          <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
       // console.log("ID: " + profile.getId()); // Don't send this directly to your server!
       // console.log('Full Name: ' + profile.getName());
        //console.log('Given Name: ' + profile.getGivenName());
       // console.log('Family Name: ' + profile.getFamilyName());
       // console.log("Image URL: " + profile.getImageUrl());
       // console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        //console.log("ID Token: " + id_token);
        
        document.cookie = 'key='+profile.getEmail();
        document.getElementById("go").innerHTML = "";
        // document.getElementById("gotl").innerHTML = "";
        
      }
    </script>
	
		
		<style>
		
		.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
		</style>
		

         <!--####################### Footer Starts Here ###################-->
    <div class="copy">
        <div class="container">
      <a href="https://www.smarteyeapps.com/">2020 &copy; All Rights Reserved | Designed and Developed by Classfly</a>
                <span>
                <a href=""><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/groups/10411920/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://in.pinterest.com/prabnr/pins/"><i class="fab fa-pinterest-p"></i></a>
                <a href="https://twitter.com/prabinraja89"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/freewebtemplatesbysmarteye"><i class="fab fa-facebook-f"></i></a>
        </span>
        </div>

    </div>
</body>

</html>