{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>ClassFly - {{ title }}</title>
    {% else %}
        <title>ClassFly - Community</title>
    {% endif %} 
  

    <script type="text/javascript" src="{% static 'jsv/jquery-3.2.1.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'cssv/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'cssv/upload.css' %}">

<script type="text/javascript" src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1567487539/jquery.tabledit.js"></script>

<script type="text/javascript" src="{% static 'jsv/upload.js' %}"></script>

</head>
<body>
<div class="container mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5></h5>
                    <span>Welcome , this page is only for department head.</span>
                </div>

                <div class="card-block">
                    <div class="table-responsive">

                            <h2 id='header'>First </h2>
                            <br><input type="text" id="headline">
                            <button onclick="update()">update</button>
                            <br>
                            <br>
                            <p></p>
                            <select id='subject'>
                                    {% for icon in subject %}
                                    <option>{{ icon.name }}</option>
                                  {% endfor %}
                            </select> 
                            <br>
                            <br>
                                                        
                            <textarea id='in' rows='10'></textarea>
                            <button onclick='good()'>Split</button>
                            
                            <p id='ji'></p>
                        <!-- <table class="table table-striped table-bordered" id="example-1">
                            <thead>
                                <tr>
                                    
                                    <th style="display: none;">#</th>
                                    <th ><h2 id='header'>First </h2>
                                        <br><input type="text" id="headline">
                                        <button onclick="update()">update</button>
                                       </th>
                                    
                                </tr>
                            </thead>
                            <tbody id='rowj'>
                                    <tr id='d1'>
                                            <th scope="row" style="display: none;">1</th>
                                            <td><select id='subject'>
                                                    {% for icon in subject %}
                                                    <option>{{ icon.name }}</option>
                                                  {% endfor %}
                                            </select>  </td>
                                         
                                        </tr>


                               
                                <tr id='head1'>
                                    <th scope="row" style="display: none;">1</th>
                                    <td class="tabledit-view-mode"  style="cursor: pointer;"   onkeypress="enter(event,1)">  <span  class="tabledit-span" id="title1">ClassFly Community
                                        </span><input class="tabledit-input form-control input-sm"  type="text" name="First Name" value="" id="good1" style="display: none;" disabled=""></td>
                                 
                                </tr>
                               
                                <tr id='body1'>
                                        <th scope="row" style="display: none;">1</th>
                                    <td id="video1"><iframe width="250" height="150" src="https://www.youtube.com/embed/nUPAbWOcwb4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                                  
                                </tr>
                                <tr id="tail1">
                                    <th scope="row" style="display: none;">1</th>
                              <td>
                                <p id='youtube1'></p>  
                                <button  onclick="del(1)">delete</button>  </td>
                            </tr>
                                <br>
                                <br>
                                <!-- new row,  -->



                                <!-- <tr>
                                    <th scope="row" style="display: none;">2</th>
                                    <td class="tabledit-view-mode" style="cursor: pointer;"><span class="tabledit-span">Mark
                                        </span><input class="tabledit-input form-control input-sm" type="text" name="First Name" value="Jacob
" style="display: none;" disabled=""></td>
                                    <td class="tabledit-view-mode" style="cursor: pointer;"><span class="tabledit-span">Henry
                                        </span><input class="tabledit-input form-control input-sm" type="text" name="Last Name" value="Thorntonkk
" style="display: none;" disabled=""></td>
                                    <td class="tabledit-view-mode"><span class="tabledit-span">Java Developer</span>
                                    </td>
                                </tr> -->
                                <!-- <tr>
                                    <th scope="row" style="display: none;">3</th>
                                    <td class="tabledit-view-mode" style="cursor: pointer;"><span class="tabledit-span">Larry
                                        </span><input class="tabledit-input form-control input-sm" type="text" name="First Name" value="Larry
" style="display: none;" disabled=""></td>
                                    <td class="tabledit-view-mode" style="cursor: pointer;"><span class="tabledit-span">Pingor
                                        </span><input class="tabledit-input form-control input-sm" type="text" name="Last Name" value="the Bird
" style="display: none;" disabled=""></td>
                                    <td class="tabledit-view-mode"><span class="tabledit-span">Hybris Developer</span>
                                    </td>
                                </tr> 
                               
                            </tbody>
                        </table> -->
                        <!-- <button onclick="add_row()">add</button> -->
                        <br>
                        <button onclick="load_all()">Final Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>