* {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'quicksand', tahoma;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

.main{
    background-color: #fff;
    border-radius: 10px;
 box-shadow:0 0 10px rgba(0,0,0,0.15);
}

.header{
    background: linear-gradient(45deg,#2193b0, #6dd5ed);
    /* background: linear-gradient(45deg,#bdc3c7 , #2c3e50); */
    /* background-image: url(https://www.fullstackpython.com/img/logos/django.png); */
    color: #eeeeee;
    overflow: hidden;
    border-radius: 10px;
}

.header a{
    color: #eee;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header a:hover {
    color: rgba(0, 0, 0, .5);
}

.profile-img{
    border: 5px solid #eee;
    box-shadow: 0 0 0px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 0px 5px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 0px 5px rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 0 0px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 0px 5px rgba(0, 0, 0, .5);
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile-img:hover {
    box-shadow: 0 0 0px 50px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 0px 50px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 0px 50px rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 0 0px 50px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 0px 50px rgba(0, 0, 0, .5);
}

.hide{
display: none;
}

.profile:hover  .hide{
    display: block;
    height: 250px;
    
}

.name{
    font-weight: bold;
    font-size: 1.2em;
}

.profile{
    color: #002b36;
    font-size: 1em;
}

.profile span.skill span{
    margin-right: 5px;
}

@media screen and (max-width:350px){
    .profile{
        font-size: .8em;
        /* display: none; */
    }
}
@media screen and (max-width:260px) {
    .profile {
        font-size: .7em;
        /* display: none; */
    }
}


/* Css for button */

.button {
    background-color:  #2193b0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.button2 {font-size: 16px;}