<html>
<head>
    <title>ClassFly</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.834.0.min.js"></script>
</head>
<body>

    <button id="getlink">UploadID</button>
<form>
    <input type="file" id='upload' name="file_upload" >
</form>
<button id='upload_button' >Submit</button>
<button id="link">Link</button>
</body>
<script>

class FileStreamer {
    constructor(file) {
        this.file = file;
        this.offset = 0;
        this.defaultChunkSize = 6000000; // bytes
        this.rewind();
    }
    rewind() {
        this.offset = 0;
    }
    isEndOfFile() {
        return this.offset >= this.getFileSize();
    }

    readBlockAsText(m,n) {
        length = m
        const fileReader = new FileReader();
        const blob = this.file.slice(m,n);
        return new Promise((resolve, reject) => {
            fileReader.onload = (event) => {
                const target = (event.target);
                if (target.error == null) {
                    const result = target.result;
                    // if (result.length > 6000000 && ((this.offset)/length) > (this.file.length/length))
                    // {
                    console.log('PartNo:',part_no);
                    console.log('file sliced',this.offset,'to', this.offset + length)
                    console.log('Reolved file length',result.length);
                    console.log('File length',this.file.size);
                    // }
                    // this.offset += result.length;
                    console.log('File length',(result.length/(1024*1024)),'mb');
                    this.testEndOfFile();
                    resolve(result);
                    // resolve('small');
                }
                else {
                    reject(target.error);
                }
            };
            fileReader.readAsArrayBuffer(blob); 
        });
    }
    testEndOfFile() {
        if (this.isEndOfFile()) {
            console.log('Done reading file');
        }
    }
    getFileSize() {
        return this.file.size;
    }
}



$('#upload_button').click(async function(){
    var file = $('#upload')[0].files[0];
    console.log('{{user.username}}');
    var chunkSize = 1024*1024*5;

    var fileSize = (file.size - 1);
    var uploadID = '';

        //get the upload ID for the file selected
        try { 
    let res = await timeoutPromise(10*60*1000, fetch("/initiate_upload", {
            method: 'POST',
            body:  JSON.stringify({
                'file_name':'{{user.get_username}}'+file.name
            }),
            headers:{
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json'
                   }
          }));
  uploadID = res.upload_id;
  } catch(error) {
    // might be a timeout error
    console.log('Error for file uploadID');
  }

  part_no = 1;
  var data ;
  total_part = file.size/6000000;
  etag_list = {
      'Parts':[

      ]
  };
    const fileStreamer = new FileStreamer(file);

    // new code
    var files = document.getElementById('upload').files;

    var file = files[0];

    var size = file.size;
    var chunksize = 6000000;
    var x = 0;
    while (x < size) {
        //
        try { 
        let res = await timeoutPromise(10*60*1000, fetch("/url_multi", {
                method: 'POST',
                body:  JSON.stringify({
                    'key':'{{user.get_username}}'+file.name,
                    'part_no':part_no,
                    'upload_id':uploadID
                    }),
                headers:{
                            'X-CSRFToken': '{{csrf_token}}',
                            'Content-Type': 'application/json'
                    }
            }));
            upload_url = res.url;
            console.log(upload_url);
    console.log(res);
    } catch(error) {
        // might be a timeout error
        console.log('error');
    }
    //get data chunk from the file reader
    console.log('Total part',total_part);
    var data;
    if((x+chunksize)<size){
            console.log(x, x+chunksize);
             data = await fileStreamer.readBlockAsText(x, x+chunksize);
        }
        else{
            console.log(x,size,'end');
             data = await fileStreamer.readBlockAsText(x,size);
        }
        x+=chunksize;// to prepare for next loop

    console.log('Data size',data.length);
    console.log('Ad bytes',data.length < (5*1024*1024), part_no > total_part)
    console.log('Part_no < total', part_no,total_part);
   
    try {
        console.log('started uploading'); 
        let res = await timeoutPromise(10*60*1000, fetch(upload_url, {
                method: 'PUT',
                body:data,
                headers:{
                    'Accept': 'application/octet-stream'
                    }
            }));
            console.log(res);
            etag_list.Parts.push({
                "ETag":res,
                "PartNumber":part_no
             } );
        // console.log(res.headers);
        }
        catch(error){
            console.log(error);
        }
    // console.log(res.headers);
    //   console.log(data);
    part_no = part_no + 1;
    
}

try { 
    let res = await timeoutPromise(10*60*1000, fetch("/complete_upload", {
            method: 'POST',
            body:  JSON.stringify({
                'file_name':'{{user.get_username}}'+file.name,
                'upload_id':uploadID,
                'multi_part_etags':etag_list
                }),
            headers:{
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json'
                   }
          }));
  console.log(res);
  } catch(error) {
    // might be a timeout error
    console.log('Error for file uploadID');
  }
console.log(etag_list);
});




//fetch Prommise function
function timeoutPromise(ms, promise) {
  return new Promise((resolve, reject) => {
    const timeoutId = setTimeout(() => {
      reject(new Error("promise timeout"))
    }, ms);
    promise.then(
      (res) => {
        clearTimeout(timeoutId);
        var etag = res.headers.get('etag');
//         for(let entry of res.headers.entries()) {
//     console.log(entry);
//   }
       if (etag != null)
        {
        resolve(etag);
        }
        else{
            resolve(res.json());
        }
      },
      (err) => {
          console.log('Line 147',err);
        clearTimeout(timeoutId);
        reject(err);
      }
    );
  })
}
</script>
</html>


<!-- <script>

class FileStreamer {
    constructor(file) {
        this.file = file;
        this.offset = 0;
        this.defaultChunkSize = 6000000; // bytes
        this.rewind();
    }
    rewind() {
        this.offset = 0;
    }
    isEndOfFile() {
        return this.offset >= this.getFileSize();
    }
    readBlockAsText(length = this.defaultChunkSize) {
        const fileReader = new FileReader();
        const blob = this.file.slice(this.offset, this.offset + length);
        return new Promise((resolve, reject) => {
            fileReader.onload = (event) => {
                const target = (event.target);
                if (target.error == null) {
                    const result = target.result;
                    // if (result.length > 6000000 && ((this.offset)/length) > (this.file.length/length))
                    // {
                    console.log('PartNo:',(this.offset)/length);
                    console.log('file sliced',this.offset,'to', this.offset + length)
                    console.log('Reolved file length',result.length);
                    console.log('File length',this.file.size);
                    // }
                    this.offset += result.length;
                    console.log('File length',(result.length/(1024*1024)),'mb');
                    this.testEndOfFile();
                    resolve(result);
                    // resolve('small');
                }
                else {
                    reject(target.error);
                }
            };
            fileReader.readAsText(blob);
        });
    }
    testEndOfFile() {
        if (this.isEndOfFile()) {
            console.log('Done reading file');
        }
    }
    getFileSize() {
        return this.file.size;
    }
}



$('#upload_button').click(async function(){
    var file = $('#upload')[0].files[0];
    var chunkSize = 1024*1024*5;
    var fileSize = (file.size - 1);
    var uploadID = '';

        //get the upload ID for the file selected
        try { 
    let res = await timeoutPromise(10*60*1000, fetch("/initiate_upload", {
            method: 'POST',
            body:  JSON.stringify({'file_name':file.name }),
            headers:{
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json'
                   }
          }));
  uploadID = res.upload_id;
  } catch(error) {
    // might be a timeout error
    console.log('Error for file uploadID');
  }

  part_no = 1;
  var data ;
  total_part = file.size/6000000;
  etag_list = {
      'Parts':[

      ]
  };
    const fileStreamer = new FileStreamer(file);
    while (!fileStreamer.isEndOfFile()) {
        //
        try { 
        let res = await timeoutPromise(10*60*1000, fetch("/url_multi", {
                method: 'POST',
                body:  JSON.stringify({
                    'key':file.name,
                    'part_no':part_no,
                    'upload_id':uploadID
                    }),
                headers:{
                            'X-CSRFToken': '{{csrf_token}}',
                            'Content-Type': 'application/json'
                    }
            }));
            upload_url = res.url;
    console.log(res);
    } catch(error) {
        // might be a timeout error
        console.log('error');
    }
    //get data chunk from the file reader
    console.log('Total part',total_part);
    const dat = await fileStreamer.readBlockAsText();
    console.log('Data size',dat.length);
    console.log('Ad bytes',dat.length < (5*1024*1024), part_no > total_part)
    console.log('Part_no < total', part_no,total_part);
    if (dat.length < (5*1024*1024) && part_no > total_part)
    {
        data = data + dat;
    }
    //upload data to s3
    else{
        try { 
        let res = await timeoutPromise(10*60*1000, fetch(upload_url, {
                method: 'PUT',
                body:dat,
                headers:{
                    'Accept': 'application/octet-stream'
                    }
            }));
            console.log(res);
            etag_list.Parts.push({
                "ETag":res,
                "PartNumber":part_no
             } );
        // console.log(res.headers);
        }
        catch(error){
            // console.log(res.headers);
        }
    // console.log(res.headers);
    //   console.log(data);
    part_no = part_no + 1;
    }
}

try { 
    let res = await timeoutPromise(10*60*1000, fetch("/complete_upload", {
            method: 'POST',
            body:  JSON.stringify({
                'file_name':file.name,
                'upload_id':uploadID,
                'multi_part_etags':etag_list
                }),
            headers:{
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json'
                   }
          }));
  console.log(res);
  } catch(error) {
    // might be a timeout error
    console.log('Error for file uploadID');
  }
console.log(etag_list);
});




//fetch Prommise function
function timeoutPromise(ms, promise) {
  return new Promise((resolve, reject) => {
    const timeoutId = setTimeout(() => {
      reject(new Error("promise timeout"))
    }, ms);
    promise.then(
      (res) => {
        clearTimeout(timeoutId);
        var etag = res.headers.get('etag');
//         for(let entry of res.headers.entries()) {
//     console.log(entry);
//   }
       if (etag != null)
        {
        resolve(etag);
        }
        else{
            resolve(res.json());
        }
      },
      (err) => {
          console.log('Line 147',err);
        clearTimeout(timeoutId);
        reject(err);
      }
    );
  })
}
</script> -->