{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Classfly - Dashboard</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'dashboard/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'dashboard/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'dashboard/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'dashboard/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.1.1
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->

      <nav id="navbar" class="navbar navbar-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1"></span>
        </div>
        <i class="bi bi mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome Back!</h1> 
          <h3 data-aos="fade-down">to</h3> 
          <h1 data-aos="fade-up" data-aos-delay="400">Classfly Professional</h1>
          <h2 data-aos="fade-down" data-aos-delay="400">{{user.first_name}}</h2>
            <div class="text-center text-lg-start">
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2 style="font-size: large;">Projects Workin On</h2>
        </header>

        <div class="row">

          {% for projectlist in projects %}
          
          {% for project in projectlist %}
          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'dashboard/assets/img/values-1.png' %}" class="img-fluid" alt="">
              <h3>{{project.project.title}}</h3>
              <p>Started On : {{project.created_on}}</p>
              <p>Next Meeting On : DD-MM-YY</p>
              <p><strong>Guide : {{project.trainer.name}}</strong></p>
				<a class="btn btn-primary btn-rounded">Interview</a>
				<a class="btn btn-primary btn-rounded" href="/videoplayer">Videos</a>
            </div>
          </div>
<!-- 
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="{% static 'dashboard/assets/img/values-2.png' %}" class="img-fluid" alt="">
            <h3>Heading 2</h3>
            <p>Started On : DD-MM-YY</p>
            <p>Next Meeting On : DD-MM-YY</p>
            <p><strong>Guide : Manohar M.S</strong></p>
            <a class="btn btn-primary btn-rounded">Interview</a>
            <a class="btn btn-primary btn-rounded">Videos</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="{% static 'dashboard/assets/img/values-3.png' %}" class="img-fluid" alt="">
              <h3>Heading 3</h3>
              <p>Started On : DD-MM-YY</p>
              <p>Next Meeting On : DD-MM-YY</p>
              <p><strong>Guide : Manohar M.S</strong></p>
              <a class="btn btn-primary btn-rounded">Interview</a>
              <a class="btn btn-primary btn-rounded">Videos</a>
            </div>
          </div> -->
          {% endfor %}

          {% endfor %}
        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">
    
      <div class="container" data-aos="fade-up">
    
        <header class="section-header">
          <h2 style="font-size: large;">Upcoming Meetings</h2>
        </header>
    
        <div class="row">
    
          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'dashboard/assets/img/values-1.png' %}" class="img-fluid" alt="">
              <h3>Heading 1</h3>
              <p><strong>Guide : Manohar M.S</strong></p>
              <p>On : DD-MM-YY, HH:MM</p>
              <p>Topic : Django Interview</p>
              <a class="btn btn-primary btn-rounded">Meeting Link</a>
            </div>
          </div>
      </div>
    
    </section><!-- End Values Section -->

<!-- ======= Values Section ======= -->
<section id="values" class="values">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2 style="font-size: large;">RECOMMENDATION</h2>
    </header>

    <div class="row">

      <div class="col-lg-4">
        <div class="box" data-aos="fade-up" data-aos-delay="200">
          <img src="{% static 'dashboard/assets/img/values-1.png' %}" class="img-fluid" alt="">
          <h3>Heading 1</h3>
          <p><strong>Guide : Manohar M.S</strong></p>
          <p>Price: ₹800</p>
          <p>Technologies : Java, Python, Jsavascript, HTML, CSS.</p>
          <p>Rating : 4.3</p>
          <a class="btn btn-primary btn-rounded">Comments</a>
          <a class="btn btn-primary btn-rounded">Resume</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="400">
          <img src="{% static 'dashboard/assets/img/values-2.png' %}" class="img-fluid" alt="">
          <h3>Heading 2</h3>
          <p>Company : Company Name</p>
          <p>Position : Position Name</p>
          <p>Skills : Skills List</p>
          <a class="btn btn-primary btn-rounded">Apply</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="600">
          <img src="{% static 'dashboard/assets/img/values-3.png' %}" class="img-fluid" alt="">
          <h3>Heading 3</h3>
          <p>Started On : DD-MM-YY</p>
          <p>Next Meeting On : DD-MM-YY</p>
          <p><strong>Guide : Manohar M.S</strong></p>
          <a class="btn btn-primary btn-rounded">Buy</a>
        </div>
      </div>
    </div>

  </div>

</section><!-- End Values Section -->
    

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Classfly</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-chat-square-dots"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'dashboard/assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'dashboard/assets/js/main.js' %}"></script>

</body>

</html>