{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Contact Form 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'examform/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Contact Form #01</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-7 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Exam Registration</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Subjects Available for registration
				      		</div>
									<form method="POST"  action="/register/exam/{{user.id}}">
											{% csrf_token %}
										<div class="row">
												{% for subject in subjects %}
											<div class="col-md-6">
												<div class="form-group">
														<label for="{{subject.id}}"> {{subject.name}}</label><br>
													</div>	<br>	<br></div>
												
																								
											<div class="col-md-6">
												<div class="form-group">

														<input type="checkbox" id="ele{{subject.id}}" class="form-control" name="{{subject.id}}" value="{{subject.id}}">
												</div>
											</div>
											{% endfor %}	
										
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Register" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<!-- hide till here -->
							
							<div class="col-md-5 d-flex align-items-stretch" id="userform">
								<div class="info-wrap bg-primary w-100 p-lg-5 p-4">
									<h3 class="mb-4 mt-md-4">User</h3>
									<form method="POST" action="" >
										{% csrf_token %}
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-map-marker"></span>
				        		</div>
				        		<div class="text pl-3">
								<p><span>Email</span> </p>
								<input type="email" id="email" name="email" placeholder="Email">
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone"></span>
				        		</div>
				        		<div class="text pl-3">
								<p><span>Phone:</span> </p>
								<input type="text" id="phonenumber" name="phone"  placeholder="Phone Number">
								
							  </div>
							 
						  </div>
						  <br>
						  <button class="btn btn-secondary" type="submit">Verify</button>
						</form>

				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Verified: </span>{{verified}}</p>
					          </div>
				          </div>
				        	
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'examform/js/jquery.min.js' %}"></script>
  <script src="{% static 'examform/js/popper.js' %}"></script>
  <script src="{% static 'examform/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'examform/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'examform/js/main.js' %}"></script>


	</body>
</html>

