				
.tags-input 
{
  	list-style : none;   
  	border:1px solid #ccc;
	display:inline-block;
  	padding:5px;
  	height: 26px;
    font-size:14px;
    background:#f3f3f3;
    width: 600px;
    border-radius:2px;
    overflow:hidden;
}

.tags-input li
{
  	float:left;
}

.tags
{
	background: rgba(139, 36, 199,0.6);
	margin-bottom: 5px;  
  	padding:5px 20px 5px 8px;
  	border-radius:15px;
  	margin-right: 5px;
  	position: relative;
}

.tags i
{
	position: absolute; 
	right:6px;
	top:3px;
	width: 8px;
	height: 8px;
	content:'';
	cursor:pointer;
	opacity: .7;
  font-size:12px;
}

.tags i:hover
{
	opacity: 1;
}

/* .tags-new input[type="text"]
{
  border:0;
	margin: 0;
	padding: 0 0 0 3px;
	font-size: 14px;
	margin-top: 5px;
  background:transparent;
} */

.tags-new input[type="text"]:focus
{
  	outline:none; 
}



/* input X mark */


.close-icon{
	position: relative;
	/* padding: 10px; */
}
.search-wrapper {
	margin: auto;
	margin-top: 50px;
}
.search-box {
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
  box-shadow: 0 0 15px 5px #b0e0ee;
}
/* .search-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
} */
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
}
.close-icon:after {
	content: "X";
	/* display: block; */
	height: 20px;
	width:20px;
	position: absolute;
	background-color: #FA9595;
	z-index:1; 
	left: 340px;
	top: -60px;
	bottom: 0;
	margin: auto;
	padding: 3px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 14px;
	box-shadow: 0 0 2px #E50F0F;
}