<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--   <link rel="stylesheet" href="css/style.css"> -->
  <title>Countdown</title>
</head>

<body>
  <div class="page">
    <div class="box">
      <div class="item">
        <h1 id="expiredtext1">the adventure begins</h1>
        <p id="expiredtext3">“You can’t connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots will somehow connect in your future.” <br> ― Steve Jobs</p>

        <div class="btn">
          <button><a id="expiredtext2">notify me</a></button>
        </div>
        <div class="timer">
          <div class="count">
            <span id="days">00</span> <br>
            <p>DAYS</p>
          </div>
          <div class="count">
            <span id="hour">00</span> <br>
            <p>HOUR</p>
          </div>
          <div class="count">
            <span id="min">00</span> <br>
            <p>MIN</p>
          </div>
          <div class="count">
            <span id="sec">00</span> <br>
            <p>SEC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/app.js"></script>
</body>