{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="Smarthr - Bootstrap Admin Template">
<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
<meta name="author" content="Dreamguys - Bootstrap Admin Template">
<meta name="robots" content="noindex, nofollow">
<title>ClassFly</title>

<link rel="shortcut icon" type="image/x-icon" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/img/favicon.png' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/line-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/datatables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/style.css' %}">
<!--[if lt IE 9]> 
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>
<body>
<div class="main-wrapper">
<div class="header">
<div class="header-left">
<a href="smarthr-laravel/html-template/light/index.html" class="logo">
<img src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/img/logo.png'%}" width="40" height="40" alt="">
</a>
</div>
<a id="toggle_btn" href="javascript:void(0);">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
</a>
<div class="page-title-box">
<h3>ClassFly</h3>
</div>
<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
<ul class="nav user-menu">
<li class="nav-item">
<div class="top-nav-search">
<a href="javascript:void(0);" class="responsive-search">
<i class="fa fa-search"></i>
</a>
<form action="smarthr-laravel/html-template/light/search.html">
<input class="form-control" type="text" placeholder="Search here">
<button class="btn" type="submit"><i class="fa fa-search"></i></button>
</form>
</div>
</li>
<li class="nav-item dropdown has-arrow flag-nav">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
<img src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/img/flags/us.png' %}" alt="" height="20"> <span>English</span>
</a>
<div class="dropdown-menu dropdown-menu-right">
<a href="javascript:void(0);" class="dropdown-item">
<img src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/img/flags/us.png' %}" alt="" height="16"> English
</a>
<a href="javascript:void(0);" class="dropdown-item">
<img src="smarthr-laravel/html-template/light/assets/img/flags/fr.png" alt="" height="16"> French
</a>
<a href="javascript:void(0);" class="dropdown-item">
<img src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/img/flags/es.png' %}" alt="" height="16"> Spanish
</a>
<a href="javascript:void(0);" class="dropdown-item">
<img src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/img/flags/de.png' %}" alt="" height="16"> German
</a>
</div>
</li>
<li class="nav-item dropdown">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
<i class="fa fa-bell-o"></i> <span class="badge badge-pill">3</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/activities.html">
<div class="media">
<span class="avatar">
<img alt="" src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/img/profiles/avatar-02.jpg' %}">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/activities.html">
<div class="media">
<span class="avatar">
<img alt="" src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/img/profiles/avatar-03.jpg' %}">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/activities.html">
<div class="media">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-06.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/activities.html">
<div class="media">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-17.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/activities.html">
<div class="media">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-13.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
<p class="noti-time"><span class="notification-time">2 days ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="smarthr-laravel/html-template/light/activities.html">View all Notifications</a>
</div>
</div>
</li>
<li class="nav-item dropdown">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
<i class="fa fa-comment-o"></i> <span class="badge badge-pill">8</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Messages</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/chat.html">
<div class="list-item">
<div class="list-left">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-09.jpg">
</span>
</div>
<div class="list-body">
<span class="message-author">Richard Miles </span>
<span class="message-time">12:28 AM</span>
<div class="clearfix"></div>
<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/chat.html">
<div class="list-item">
<div class="list-left">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-02.jpg">
</span>
</div>
<div class="list-body">
<span class="message-author">John Doe</span>
<span class="message-time">6 Mar</span>
<div class="clearfix"></div>
<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/chat.html">
<div class="list-item">
<div class="list-left">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-03.jpg">
</span>
</div>
<div class="list-body">
<span class="message-author"> Tarah Shropshire </span>
<span class="message-time">5 Mar</span>
<div class="clearfix"></div>
<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/chat.html">
<div class="list-item">
<div class="list-left">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-05.jpg">
</span>
</div>
<div class="list-body">
<span class="message-author">Mike Litorus</span>
<span class="message-time">3 Mar</span>
<div class="clearfix"></div>
<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/chat.html">
<div class="list-item">
<div class="list-left">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-08.jpg">
</span>
</div>
<div class="list-body">
<span class="message-author"> Catherine Manseau </span>
<span class="message-time">27 Feb</span>
<div class="clearfix"></div>
<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="smarthr-laravel/html-template/light/chat.html">View all Messages</a>
</div>
</div>
</li>
<li class="nav-item dropdown has-arrow main-drop">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
<span class="user-img"><img src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-21.jpg" alt="">
<span class="status online"></span></span>
<span>Settings</span>
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="/hraccount/1">HR Details</a>
<a class="dropdown-item" href="/hridcard">ID Card</a>
<a class="dropdown-item" href="/hrprofile">My Profile</a>
<a class="dropdown-item" href="/company/1">Company Details</a>
<a class="dropdown-item" href="/logout">Logout</a>
</div>
</li>
</ul>
<div class="dropdown mobile-user-menu">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-right">

		<a class="dropdown-item" href="/hraccount/1">HR Details</a>
		<a class="dropdown-item" href="/hridcard">ID Card</a>
		<a class="dropdown-item" href="/hrprofile">My Profile</a>
		<a class="dropdown-item" href="/company/1">Company Details</a>
		<a class="dropdown-item" href="/logout">Logout</a>

</div>
</div>
</div>
<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title">
<span>Options</span>
</li>
<li class="submenu"><a href="/hr_dash"><i class="la la-dashboard"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a></li>
<li class="submenu"><a href="/jobpost/{{job.id}}/1"><i class="la la-dashboard"></i> <span> Post a Job </span> <span class="menu-arrow"></span></a></li>
<li class="submenu"><a href="/player_now"><i class="la la-dashboard"></i> <span> Interview Videos </span> <span class="menu-arrow"></span></a></li>

{% if job %}
<li><a href="/applicants/{{job.id}}">Browse Candidates <span class="menu-arrow"></span></a></li>
{% endif %}

<li class="menu-title">
<span>Jobs Posted</span>

{% for job in jobs %}
<li>
	
<div class="dropdown dropdown-action">
		<a href="/hr_dash/{{job.id}}" >
			<i class="la la-cube"></i> <span>{{job.designation}}</span>
		</a>
	
	</div>
</li>
{% endfor %}


<!-- <li>
<a href="smarthr-laravel/html-template/light/leads.html"><i class="la la-user-secret"></i> <span>Leads</span></a>
</li> -->



</li>
</ul>
</div>
</div>
</div>

<div class="page-wrapper">
<div class="content container-fluid">
<div class="page-header">
<div class="row align-items-center">
<div class="col-12">
<h3 class="page-title">Manage Resumes ({{applicants|length}})</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="smarthr-laravel/html-template/light/index.html">Dashboard</a></li>
<li class="breadcrumb-item">Jobs</li>
<li class="breadcrumb-item active">{{job.designation}}</li>

</ul>

<ul>
	<li><button class="btn btn-sm btn-primary" style="margin-left: 10px"  onclick="filter(2)">Shortlisted</button>
<button class="btn btn-sm btn-primary" style="margin-left: 10px" onclick="filter(3)" >Rejected</button>
<button class="btn btn-sm btn-primary" style="margin-left: 10px"  onclick="filter(1)">Selected</button>
<button class="btn btn-sm btn-primary" style="margin-left: 10px"  onclick="filter(0)">All</button></li> <br>

<li><h5>Enter skills with seperated by comma.</h5></li>
<li><input placeholder="Skills" id="skill_input" style="width:100%"  value="{{skills}}" ></li>
<br><button onclick="search()" class="btn btn-sm btn-primary" style="margin-left: 10px">Filter</button>
<button onclick="clear()" class="btn btn-sm btn-primary" style="margin-left: 10px">Clear</button>
<br>
<br>
<li>
<div class="dropdown dropdown-action">
		<button class="btn btn-sm btn-primary">Job Post Options</button><a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
		<div class="dropdown-menu dropdown-menu-right">
		<a href="#" class="dropdown-item" data-toggle="modal" onclick="move({{job.id}})"><i class="fa fa-pencil m-r-5"></i> Edit</a>
		<a href="#" class="dropdown-item" data-toggle="modal" onclick="delete_job_id({{job.id}})" data-target="#delete_job"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
		</div>
</div>
</li>

<!-- <button onclick="" class="btn btn-sm btn-primary" style="margin-left: 10px">Delete</button>
<button onclick="" class="btn btn-sm btn-primary"  data-toggle="modal" style="margin-left: 10px">Deactivate</button> -->
<!-- </p> -->

</ul>

</div>
</div>
</div>







<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table table-striped custom-table mb-0 datatable">
<thead>
<tr>
<th>#</th>
<th>Name</th>
<th>Branch</th>
<th>Experience</th>
<th class="text-center">Answers</th> 
<th class="text-center">Status</th>
<th>Resume</th> 
<th class="text-right">Video</th> 
</tr>    
</thead>

<tbody>



		{% for i in pass_applicants %}
		<tr>
		
		<td> {{ forloop.counter }} </td> 
		
		<td>
		<h2 class="table-avatar">
		<a href="/fresher/{{i.fresher.user.id}}" class="avatar"><img alt=""  id ="img{{i.id}}" src=""></a>
		<a href="/fresher/{{i.fresher.user.id}}"> {{i.fresher.user.first_name  }}  {{i.fresher.user.last_name}} </a>
		</h2>
		</td> 
		<td><a href="smarthr-laravel/html-template/light/job-details.html">{{i.fresher.branch}}</a></td>
		<td>{{i.fresher.total_experience}} years</td>
		<td class="text-center">
		<div class="dropdown action-label">
		<a class="btn btn-white btn-sm btn-rounded " href="#"  onclick="answer({{i.id}})">
		<i class="fa fa-dot-circle-o text-danger"></i> Answers 
		</a>
		</div>
		</td>
		
		<td class="text-center">
		<div class="dropdown action-label">
		<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false" id="status{{i.id}}" >
		{% if i.status == 'short' %}
		<i class="fa fa-dot-circle-o text-info" ></i>Shortlist 
		{% elif  i.status == 'select' %}
		<i class="fa fa-dot-circle-o text-success" ></i>Select
		{% elif i.status == 'reject' %}
		<i class="fa fa-dot-circle-o text-danger" ></i> Reject
		{% else %}
			<i class="fa fa-dot-circle-o text-danger" ></i> Status
			{% endif %}
		</a>
		<div class="dropdown-menu dropdown-menu-right">
		<a class="dropdown-item" href="#" onclick="change_status('status{{i.id}}','short')"><i class="fa fa-dot-circle-o text-info" ></i>Shortlist  </a>
		<a class="dropdown-item" href="#" onclick="change_status('status{{i.id}}','select')"><i class="fa fa-dot-circle-o text-success" ></i>Select</a>
		<a class="dropdown-item" href="#" onclick="change_status('status{{i.id}}','reject')"><i class="fa fa-dot-circle-o text-danger" ></i> Reject</a>
		</div>
		</div>
		</td>  
		<td><a href="{{i.fresher.resume_url}}" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-download mr-1"></i> Download</a></td>
		<td>
			{% for a in i.fresher.fresher_interview.all %}
			{% if a.passed == True %}
			<a href="/player_now/{{a.id}}" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-play mr-1"></i> Video</a></td>
			{{ "<!--" }}
				{%endif%} 
			  {%endfor%}     
			  {{ "-->" }}
			

<tr id='{{i.id}}'>
	
	</tr>
	
	{% endfor %}

{% for i in applicants %}

<tr>

<td> {{ forloop.counter }} </td> 

<td>
<h2 class="table-avatar">
<a href="#" class="avatar"><img alt=""  id ="img{{i.id}}" src=""></a>
<a href="#"> {{i.fresher.user.first_name  }}  {{i.fresher.user.last_name}} </a>
</h2>
</td> 
<td><a href="smarthr-laravel/html-template/light/job-details.html">{{i.fresher.branch}}</a></td>
<td>{{i.fresher.total_experience}} years</td>
<td class="text-center">
<div class="dropdown action-label">
<a class="btn btn-white btn-sm btn-rounded " href="#"  onclick="answer({{i.id}})">
<i class="fa fa-dot-circle-o text-danger"></i> Answers 
</a>
</div>
</td>

<td class="text-center">
<div class="dropdown action-label">
<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false" id="status{{i.id}}" >
{% if i.status == 'short' %}
<i class="fa fa-dot-circle-o text-info" ></i>Shortlist 
{% elif  i.status == 'select' %}
<i class="fa fa-dot-circle-o text-success" ></i>Select
{% elif i.status == 'reject' %}
<i class="fa fa-dot-circle-o text-danger" ></i> Reject
{% else %}
	<i class="fa fa-dot-circle-o text-danger" ></i> Status
	{% endif %}
</a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#" onclick="change_status('status{{i.id}}','short')"><i class="fa fa-dot-circle-o text-info" ></i>Shortlist  </a>
<a class="dropdown-item" href="#" onclick="change_status('status{{i.id}}','select')"><i class="fa fa-dot-circle-o text-success" ></i>Select</a>
<a class="dropdown-item" href="#" onclick="change_status('status{{i.id}}','reject')"><i class="fa fa-dot-circle-o text-danger" ></i> Reject</a>
</div>
</div>
</td>  
<td><a href="{{i.fresher.resume_url}}" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-download mr-1"></i> Download</a></td>
<td>
	{% for a in i.fresher.fresher_interview.all %}
	{% if a.passed == True %}
	<a href="/player_now/{{a.id}}" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-play mr-1"></i> Video</a></td>
	
	{% endif %}
	
	{% endfor %}
<td class="text-center">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
<div class="dropdown-menu dropdown-menu-right">
<a href="#" class="dropdown-item" data-toggle="modal" onclick="delete_job_id({{i.id}})" data-target="#delete_job"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>



<tr id='{{i.id}}'>
	
</tr>

{% endfor %}

<tr>
<td>2</td>
<td>
<h2 class="table-avatar">
<a href="smarthr-laravel/html-template/light/profile.html" class="avatar"><img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-09.jpg"></a>
<a href="smarthr-laravel/html-template/light/profile.html">Richard Miles <span>Web Developer</span></a>
</h2>
</td>
<td><a href="smarthr-laravel/html-template/light/job-details.html">Web Designer</a></td>
<td>Designing</td>

<td>31 May 2019</td>
<td class="text-center">
<div class="dropdown action-label">
<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
<i class="fa fa-dot-circle-o text-success"></i> Part Time
</a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-info"></i> Full Time</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-success"></i> Part Time</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Internship</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-warning"></i> Temporary</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-warning"></i> Other</a>
</div>
</div>
</td>
<td class="text-center">
<div class="dropdown action-label">
<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
<i class="fa fa-dot-circle-o text-success"></i> Closed
</a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-info"></i> Open</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-success"></i> Closed</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Cancelled</a>
</div>
</div>
</td>
<td><a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="fa fa-download mr-1"></i> Download</a></td>
<td class="text-center">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
<div class="dropdown-menu dropdown-menu-right">
<a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_job"><i class="fa fa-pencil m-r-5"></i> Edit</a>
<a href="#" class="dropdown-item" data-toggle="modal" data-target="#delete_job"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
<tr>
<td>3</td>
<td>
<h2 class="table-avatar">
<a href="smarthr-laravel/html-template/light/profile.html" class="avatar"><img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-10.jpg"></a>
<a href="smarthr-laravel/html-template/light/profile.html">John Smith <span>Android Developer</span></a>
</h2>
</td>
<td><a href="smarthr-laravel/html-template/light/job-details.html">Android Developer</a></td>
<td>Android</td>
<td>31 May 2019</td>
<td class="text-center">
<div class="dropdown action-label">
<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
<i class="fa fa-dot-circle-o text-danger"></i> Internship
</a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-info"></i> Full Time</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-success"></i> Part Time</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Internship</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-warning"></i> Temporary</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-warning"></i> Other</a>
</div>
</div>
</td>
<td class="text-center">
<div class="dropdown action-label">
<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
<i class="fa fa-dot-circle-o text-danger"></i> Cancelled
</a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-info"></i> Open</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-success"></i> Closed</a>
<a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Cancelled</a>
</div>
</div>
</td>
<td><a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="fa fa-download mr-1"></i> Download</a></td>
<td class="text-center">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
<div class="dropdown-menu dropdown-menu-right">
<a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_job"><i class="fa fa-pencil m-r-5"></i> Edit</a>
<a href="#" class="dropdown-item" data-toggle="modal" data-target="#delete_job"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
</tbody>
</table>

</div>
</div>
</div>
</div>
<div id="edit_job" class="modal custom-modal fade" role="dialog">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">Edit Job</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Job Title</label>
<input class="form-control" type="text" value="Web Developer">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>Department</label>
<select class="select">
<option>-</option>
<option selected>Web Development</option>
<option>Application Development</option>
<option>IT Management</option>
<option>Accounts Management</option>
<option>Support Management</option>
<option>Marketing</option>
</select>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Job Location</label>
<input class="form-control" type="text" value="California">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>No of Vacancies</label>
<input class="form-control" type="text" value="5">
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Experience</label>
<input class="form-control" type="text" value="2 Years">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>Age</label>
<input class="form-control" type="text" value="-">
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Salary From</label>
<input type="text" class="form-control" value="32k">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>Salary To</label>
<input type="text" class="form-control" value="38k">
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Job Type</label>
<select class="select">
<option selected>Full Time</option>
<option>Part Time</option>
<option>Internship</option>
<option>Temporary</option>
<option>Remote</option>
<option>Others</option>
</select>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>Status</label>
<select class="select">
<option selected>Open</option>
<option>Closed</option>
<option>Cancelled</option>
</select>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Start Date</label>
<input type="text" class="form-control datetimepicker" value="3 Mar 2019">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>Expired Date</label>
<input type="text" class="form-control datetimepicker" value="31 May 2019">
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="form-group">
<label>Description</label>
<textarea class="form-control"></textarea>
</div>
</div>
</div>
<div class="submit-section">
<button class="btn btn-primary submit-btn">Save</button>
</div>
</form>
</div>
</div>
</div>
</div>



<div class="modal custom-modal fade" id="delete_job" role="dialog">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">
<div class="form-header">
<h3>Delete</h3>
<p>Are you sure want to delete?</p>
</div>
<div class="modal-btn delete-action">
<div class="row">
<div class="col-6">
<a href="javascript:void(0);" onclick="delete_job_post()" class="btn btn-primary continue-btn">Delete</a>
</div>
<div class="col-6">
<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
</div>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/jquery-3.5.1.min.js'%}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/popper.min.js'%}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/bootstrap.min.js'%}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/jquery.slimscroll.min.js'%}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/select2.min.js'%}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/jquery.datatables.min.js'%}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/datatables.bootstrap4.min.js'%}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/moment.min.js'%}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/bootstrap-datetimepicker.min.js'%}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/app.js'%}"></script>
<script>

$(document).ready(function(){

{% for j in pass_applicants %}

$('#{{j.id}}').hide();

document.getElementById({{j.id}}).innerHTML = '<td colspan="10" >'
		+'<h4><u>Skills:<p></h4>	</u> {{j.job.skills}}</p>'
		+'<h4>Passout Year: {{j.fresher.passout_year}} </h4>'
		+'<h4>1.{{j.job.qu1}}</h4>'
		+'<h5>{{j.ans1}}</h5>'
		+'<h4>2.{{j.job.qu2}}</h4>'
		+'<h5>{{j.ans2}}</h5>'
		+'<h4>3.{{j.job.qu3}}</h4>'
		+'<h5>{{j.ans3}}</h5>'
		+'<button class="btn btn-sm btn-primary" id="close{{j.id}}" ><i class="fa fa-close mr-1"></i>Close</button>'
		+'</td>';

$('#close{{j.id}}').click(function(){
	$('#{{j.id}}').hide();
})



// <!-- code to get the profile pic of the applications -->

var url = "{{j.fresher.profile_pic}}";

// console.log(url);

 fetch(url).then(function(response) {
   response.text().then(function(text)
    {document.getElementById('img{{j.id}}').src = text;});});




{% endfor %}

// code for non interviewed applicants resumes

{% for j in applicants %}

$('#{{j.id}}').hide();

document.getElementById({{j.id}}).innerHTML = '<td colspan="10" >'
		+'<h4><u>Skills:<p></h4>	</u> {{j.fresher.skills}}</p>'
		+'<h4>Passout Year: {{j.fresher.passout_year}} </h4>'
		+'<h4>1.{{j.job.qu1}}</h4>'
		+'<h5>{{j.ans1}}</h5>'
		+'<h4>2.{{j.job.qu2}}</h4>'
		+'<h5>{{j.ans2}}</h5>'
		+'<h4>3.{{j.job.qu3}}</h4>'
		+'<h5>{{j.ans3}}</h5>'
		+'<button class="btn btn-sm btn-primary" id="close{{j.id}}" ><i class="fa fa-close mr-1"></i>Close</button>'
		+'</td>';

$('#close{{j.id}}').click(function(){
	$('#{{j.id}}').hide();
})
 


// <!-- code to get the profile pic of the applications -->

var url = "{{j.fresher.profile_pic}}";

// console.log(url);

 fetch(url).then(function(response) {
   response.text().then(function(text)
    {document.getElementById('img{{j.id}}').src = text;});});




{% endfor %}

});

//varibaelt o do query
window.job_id = '{{job_id}}';


function move(id)
{
	window.location = '/jobpost/'+ id +'/1';
}


</script>
<script src="{% static 'hrdash/script.js' %}"></script>
</html>