{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Job Search Platform UI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'job_search/style.css' %}">

</head>
<body>
<div class="job">
 <div class="header">
  <div class="logo">
   <!-- <svg xmlns="https://www.classfly.in/static/3.png" viewBox="0 0 512 512">
    <path xmlns="http://www.w3.org/2000/svg" d="M512 503.5H381.7a48 48 0 01-45.3-32.1L265 268.1l-9-25.5 2.7-124.6L338.2 8.5l23.5 67.1L512 503.5z" fill="#0473ff" data-original="#28b446" />
    <path xmlns="http://www.w3.org/2000/svg" fill="#0473ff" data-original="#219b38" d="M361.7 75.6L265 268.1l-9-25.5 2.7-124.6L338.2 8.5z" />
    <path xmlns="http://www.w3.org/2000/svg" d="M338.2 8.5l-82.2 234-80.4 228.9a48 48 0 01-45.3 32.1H0l173.8-495h164.4z" fill="#0473ff" data-original="#518ef8" />
   </svg> -->
<img src="https://www.classfly.in/static/3.png" style="width:50px; height:50px">
   ClassFly
  </div>
  <div class="header-menu">

   <!-- <a href="#" class="active">Find Job</a>
   <a href="#">Company Review</a>
   <a href="#">Find Salaries</a>
    -->
  </div>
  <div class="user-settings">
   <div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
     <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
   </div>
   <div class="user-menu">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square">
     <rect x="3" y="3" width="18" height="18" rx="2" ry="2" /></svg>
   </div>
   <img class="user-profile" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%283%29+%281%29.png" alt="">
   <div class="user-name">Suhayel Nasim</div>
  </div>
 </div>

 <div class="wrapper">
   
  <div class="search-menu">
    
   <div class="search-bar">
 
    </div>

   <div class="search-job">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase">
       <rect x="2" y="7" width="20" height="14" rx="2" ry="2" />
       <path d="M16 21V5a2 2 0 00-2-2h-4a2 2 0 00-2 2v16" /></svg>
       <div class="autocomplete" style="width:300px;">
      <input type="text" placeholder="Job comma seperated" id = "jobs" >
      <!-- <div class="items"><strong>Sa</strong>int Pierre &amp; Miquelon<input type="hidden" value="Saint Pierre &amp; Miquelon"></div>
      -->
    </div>
     </div>
     
   <br>
   <div class="search-location">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin">
     <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z" />
     <circle cx="12" cy="10" r="3" />
    </svg>
    <div class="autocomplete" style="width:300px;">
    <input type="text" class="search-box" autofocus  id = "city"  placeholder="City" autocomplete="off"/>
  </div> 
  </div>

   <div class="search-salary">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="currentColor" stroke-width=".4">
     <path d="M12.6 18H9.8a.8.8 0 010-1.5h2.8a.9.9 0 000-1.8h-1.2a2.4 2.4 0 010-4.7h2.8a.8.8 0 010 1.5h-2.8a.9.9 0 000 1.8h1.2a2.4 2.4 0 010 4.7z" stroke="currentColor" />
     <path d="M12 20a.8.8 0 01-.8-.8v-2a.8.8 0 011.6 0v2c0 .5-.4.8-.8.8zM12 11.5a.8.8 0 01-.8-.8v-2a.8.8 0 011.6 0v2c0 .5-.4.8-.8.8z" stroke="currentColor" />
     <path d="M21.3 23H2.6A2.8 2.8 0 010 20.2V3.9C0 2.1 1.2 1 2.8 1h18.4C22.9 1 24 2.2 24 3.8v16.4c0 1.6-1.2 2.8-2.8 2.8zM2.6 2.5c-.6 0-1.2.6-1.2 1.3v16.4c0 .7.6 1.3 1.3 1.3h18.4c.7 0 1.3-.6 1.3-1.3V3.9c0-.7-.6-1.3-1.3-1.3z" stroke="currentColor" />
     <path d="M23.3 6H.6a.8.8 0 010-1.5h22.6a.8.8 0 010 1.5z" stroke="currentColor" /></svg>
    <input type="text" placeholder="Salary Expectation" id = "salary" >
   </div>

   <button class="search-button"  onclick="search()">Find Job</button>
  </div>

  <div class="main-container">




   <div class="searched-jobs">
    <div class="searched-bar">
     <div class="searched-show">Showing {{jobs|length}} {{designation}} Jobs ,{{city}}.</div>

     <div class="searched-sort">Sort by: <span class="post-time">Newest Post </span><span class="menu-icon">▼</span></div>
    </div> 
    <div class="job-cards">

      {% for i in jobs %}
    
     <div class="job-card" onclick="openInNewTab({{i.id}})" >
      <div class="job-card-header">
       <svg viewBox="0 -13 512 512" xmlns="http://www.w3.org/2000/svg" style="background-color:#2e2882">
        <g fill="#feb0a5">
         <path d="M256 92.5l127.7 91.6L512 92 383.7 0 256 91.5 128.3 0 0 92l128.3 92zm0 0M256 275.9l-127.7-91.5L0 276.4l128.3 92L256 277l127.7 91.5 128.3-92-128.3-92zm0 0" />
         <path d="M127.7 394.1l128.4 92 128.3-92-128.3-92zm0 0" />
        </g>
        <path d="M512 92L383.7 0 256 91.5v1l127.7 91.6zm0 0M512 276.4l-128.3-92L256 275.9v1l127.7 91.5zm0 0M256 486.1l128.4-92-128.3-92zm0 0" fill="#feb0a5" />
       </svg>
       <div class="menu-dot"></div>
      </div>
      <div class="job-card-title">{{i.designation}}</div>
      <div class="job-card-subtitle">
       <!-- The User Experience Designer position exists to create compelling and digital user experience through excellent design... -->
       {{i.description|slice:110}}...
       <br>
       <p><b>Salary: {{i.min_salary}} to {{i.max_salary}}</b></p>
       <p>City: {{i.city}}</p>
       <p><u>{{i.skills}}</u></p>
      </div>
      <div class="job-detail-buttons">
       <button class="search-buttons detail-button">{{i.employment_type}}</button>
       <button class="search-buttons detail-button">{{i.min_exp}} - {{i.max_exp}} Exp.</button>
       <button class="search-buttons detail-button">{{i.created_on|date:"M d, Y" }}</button>
      </div>
      <div class="job-card-buttons">
       <button class="search-buttons card-buttons">Apply Now</button>
       <!-- <button class="search-buttons card-buttons-msg">Messages</button> -->
      </div>
     </div>
    

     {% endfor %} 




    
    </div>
   </div>
  </div>
 </div>


 
</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  
  <script>
  async function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input",async function(e) {
    console.log('Good to go');
      var a, b, i, val = this.value; 
      console.log(val);
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/

     
     fetch('/position/'+val, {//options => (optional)
                      method: 'get' //Get / POST / ...
                  }).then(response => response.json())
                  .then(data => {
                    var  b, i ;
                  
                    console.log(val);
                      //response
                    var arr = data.data;
                    console.log(data);

      for (var i = 0; i < arr.length; i++) {

       
        
/*check if the item starts with the same letters as the text field value:*/
if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
  /*create a DIV element for each matching element:*/
  b = document.createElement("DIV");
  b.className = 'items';

  b.onclick = function(event) {
  console.log(event.target.textContent);
  document.getElementById("jobs").value = event.target.textContent; 
  closeAllLists();
  search(); 
  }

  /*make the matching letters bold:*/
  b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
  b.innerHTML += arr[i].substr(val.length);
  /*insert a input field that will hold the current array item's value:*/
  b.innerHTML += "<input type='hidden'  value='" + arr[i] + "' onclick = 'move()'>";
  
  /*execute a function when someone clicks on the item value (DIV element):*/
  // b.addEventListener("click", function(e) {
  //     /*insert the value for the autocomplete text field:*/
  //     console.log(e.target.value);
      
  //     /*close the list of autocompleted values,
  //     (or any other open lists of autocompleted values:*/
  //     closeAllLists();
  // });
  
  console.log(b);
  a.appendChild(b);
}
}
                  }).catch(function(err) {
                  // Called if the server returns any errors
                    console.log("Error:"+err);
                  });


  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {

      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });

  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
      
  });
}


var countries = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua & Barbuda","Argentina"]

autocomplete(document.getElementById("jobs"), countries);







function move(){
  console.log('Moveeeeeeeeeed');
}
</script>
  <script  src="{%  static 'job_search/script.js' %}"></script>

</body>
</html>
