{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="Smarthr - Bootstrap Admin Template">
<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
<meta name="author" content="Dreamguys - Bootstrap Admin Template">
<meta name="robots" content="noindex, nofollow">
<title>ClassFly</title>
<link rel="shortcut icon" type="image/x-icon" href="smarthr-laravel/html-template/light/assets/img/favicon.png">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/line-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/style.css' %}">


</head>
<body>
<div class="main-wrapper">
<div class="header">
<div class="header-left">
<a href="smarthr-laravel/html-template/light/index.html" class="logo">
<img src="smarthr-laravel/html-template/light/assets/img/logo.png" width="40" height="40" alt="">
</a>
</div>
<a id="toggle_btn" href="javascript:void(0);">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
</a>
<div class="page-title-box">
<h3>ClassFly</h3>
</div>
<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
<ul class="nav user-menu">
<li class="nav-item">
<div class="top-nav-search">
<a href="javascript:void(0);" class="responsive-search">
<i class="fa fa-search"></i>
</a>
<form action="smarthr-laravel/html-template/light/search.html">
<input class="form-control" type="text" placeholder="Search here">
<button class="btn" type="submit"><i class="fa fa-search"></i></button>
</form>
</div>
</li>
<li class="nav-item dropdown has-arrow flag-nav">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
<img src="smarthr-laravel/html-template/light/assets/img/flags/us.png" alt="" height="20"> <span>English</span>
</a>
<div class="dropdown-menu dropdown-menu-right">
<a href="javascript:void(0);" class="dropdown-item">
<img src="smarthr-laravel/html-template/light/assets/img/flags/us.png" alt="" height="16"> English
</a>
<a href="javascript:void(0);" class="dropdown-item">
<img src="smarthr-laravel/html-template/light/assets/img/flags/fr.png" alt="" height="16"> French
</a>
<a href="javascript:void(0);" class="dropdown-item">
<img src="smarthr-laravel/html-template/light/assets/img/flags/es.png" alt="" height="16"> Spanish
</a>
<a href="javascript:void(0);" class="dropdown-item">
<img src="smarthr-laravel/html-template/light/assets/img/flags/de.png" alt="" height="16"> German
</a>
</div>
</li>
<li class="nav-item dropdown">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
<i class="fa fa-bell-o"></i> <span class="badge badge-pill">3</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
 <span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/activities.html">
<div class="media">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-02.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/activities.html">
<div class="media">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-03.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/activities.html">
<div class="media">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-06.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/activities.html">
<div class="media">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-17.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/activities.html">
<div class="media">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-13.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
<p class="noti-time"><span class="notification-time">2 days ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="smarthr-laravel/html-template/light/activities.html">View all Notifications</a>
</div>
</div>
</li>
<li class="nav-item dropdown">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
<i class="fa fa-comment-o"></i> <span class="badge badge-pill">8</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Messages</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/chat.html">
<div class="list-item">
<div class="list-left">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-09.jpg">
</span>
</div>
<div class="list-body">
<span class="message-author">Richard Miles </span>
<span class="message-time">12:28 AM</span>
<div class="clearfix"></div>
<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/chat.html">
<div class="list-item">
<div class="list-left">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-02.jpg">
</span>
</div>
<div class="list-body">
<span class="message-author">John Doe</span>
<span class="message-time">6 Mar</span>
<div class="clearfix"></div>
<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/chat.html">
<div class="list-item">
<div class="list-left">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-03.jpg">
</span>
</div>
<div class="list-body">
<span class="message-author"> Tarah Shropshire </span>
<span class="message-time">5 Mar</span>
<div class="clearfix"></div>
<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/chat.html">
<div class="list-item">
<div class="list-left">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-05.jpg">
</span>
</div>
<div class="list-body">
<span class="message-author">Mike Litorus</span>
<span class="message-time">3 Mar</span>
<div class="clearfix"></div>
<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="smarthr-laravel/html-template/light/chat.html">
<div class="list-item">
<div class="list-left">
<span class="avatar">
<img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-08.jpg">
</span>
</div>
<div class="list-body">
<span class="message-author"> Catherine Manseau </span>
<span class="message-time">27 Feb</span>
<div class="clearfix"></div>
<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="smarthr-laravel/html-template/light/chat.html">View all Messages</a>
</div>
</div>
</li>
<li class="nav-item dropdown has-arrow main-drop">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
<span class="user-img"><img src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-21.jpg" alt="">
<span class="status online"></span></span>
<span>Admin</span>
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="smarthr-laravel/html-template/light/profile.html">My Profile</a>
<a class="dropdown-item" href="smarthr-laravel/html-template/light/settings.html">Settings</a>
<a class="dropdown-item" href="smarthr-laravel/html-template/light/login.html">Logout</a>
 </div>
</li>
</ul>
<div class="dropdown mobile-user-menu">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="smarthr-laravel/html-template/light/profile.html">My Profile</a>
<a class="dropdown-item" href="smarthr-laravel/html-template/light/settings.html">Settings</a>
<a class="dropdown-item" href="smarthr-laravel/html-template/light/login.html">Logout</a>
</div>
</div>
</div>
<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title">
<span>Main</span>
</li>
<li><a href="#">Calendar</a></li>
<li><a href="#">Contacts</a></li>
<li><a href="#">Email</a></li>
<li><a href="#">File Manager</a></li>
<li class="active">
<a href="#"><i class="la la-users"></i> <span>Clients</span></a>
</li>
</ul>
</div>
</div>
</div>

<div class="page-wrapper">
<div class="content container-fluid">
<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Interviews</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="smarthr-laravel/html-template/light/index.html">Dashboard</a></li>
<li class="breadcrumb-item active">Interviews</li>
</ul>
</div>
</div>
</div>

<!-- <div class="row filter-row">
<div class="col-sm-6 col-md-3">
<div class="form-group form-focus">
<input type="text" class="form-control floating">
<label class="focus-label">Client ID</label>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group form-focus">
<input type="text" class="form-control floating">
<label class="focus-label">Client Name</label>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group form-focus select-focus">
<select class="select floating">
<option>Select Company</option>
<option>Global Technologies</option>
<option>Delta Infotech</option>
</select>
<label class="focus-label">Company</label>
</div>
</div>
<div class="col-sm-6 col-md-3">
<a href="#" class="btn btn-success btn-block"> Search </a>
</div>
</div> -->



<h4>Approved Meetings</h4>
<div class="row staff-grid-row">
{% for meeting in approved_meetings %}
<div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
<div class="profile-widget">
<div class="profile-img">
<a href="#" class="avatar"><img alt="" id = 'prof{{meeting.id}}' src="#"></a>
</div>
<!-- <div class="dropdown profile-action">
<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
</div>
</div> -->
<h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="#">{{meeting.prof.company}}</a></h4>
<h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="#">{{meeting.prof.user.first_name}}</a></h5>
<div class="small text-muted">{{meeting.date_time}}</div>
<a href="#" class="btn btn-white btn-sm m-t-10" style="background-color: #fac04d">Message</a>
<a href="/fresher/{{meeting.fresher.user.id}}" class="btn btn-white btn-sm m-t-10" style="background-color: #56f5fc">View Profile</a>
<!-- button to join meeting -->
<a href="#" class="btn btn-white btn-sm m-t-10" style="background-color: #f5f2b5" id="{{meeting.id}}"></a>
<a href="/fresher/{{meeting.fresher.user.id}}" class="btn btn-white btn-sm m-t-10" data-toggle="modal" data-target="#add_client" style="background-color: #56f5fc" onclick="update({{meeting.id}})">Update</a>

</div>
</div> 

{% endfor %}
</div>
<!-- Meetings pending to be approved -->

<br>
<br>
<h4 style=" width:100%">Pending Meetings</h4>
<div class="row staff-grid-row">
{% for meeting in pending_meetings %}
<div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
<div class="profile-widget">
<div class="profile-img"> 
<a href="#" class="avatar"><img alt="" id = 'prof{{meeting.id}}' src="#"></a>
</div>


<h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="#">{{meeting.prof.company}}</a></h4>
<h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="#">{{meeting.prof.user.first_name}}</a></h5>
<div class="small text-muted">{{meeting.date_time}}</div>
<a href="#" class="btn btn-white btn-sm m-t-10" style="background-color: #fac04d">Message</a>
<a href="/fresher/{{meeting.fresher.user.id}}" class="btn btn-white btn-sm m-t-10" style="background-color: #56f5fc">View Profile</a>
<!-- button to join meeting -->
<a href="#" class="btn btn-white btn-sm m-t-10" onclick="update({{meeting.id}})" data-toggle="modal" data-target="#add_client" id="{{meeting.id}}"> Approve</a>
<a class="dropdown-item" href="#" onclick="reject_popup({{meeting.id}})" data-toggle="modal" data-target="#delete_client">Reject</a>


</div>
</div> 

{% endfor %}
</div>


<!-- meeting that are done -->

<br>
<br>
<h4 style=" width:100%"> Meetings Done</h4>
<div class="row staff-grid-row">
{% for meeting in done_meetings %}
<div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
<div class="profile-widget">
<div class="profile-img"> 
<a href="#" class="avatar"><img alt="" id = 'prof{{meeting.id}}' src="#"></a>
</div>



<h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="#">{{meeting.prof.company}}</a></h4>
<h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="#">{{meeting.prof.user.first_name}}</a></h5>
<div class="small text-muted">{{meeting.date_time}}</div>
<a href="#" class="btn btn-white btn-sm m-t-10" style="background-color: #fac04d">Message</a>
<a href="/fresher/{{meeting.fresher.user.id}}" class="btn btn-white btn-sm m-t-10" style="background-color: #56f5fc">View Profile</a>
<!-- button to join meeting -->
<a href="#" class="btn btn-white btn-sm m-t-10" data-toggle="modal" data-target="#add_client" id="{{meeting.id}}"> Approve</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client">Reject</a>


</div>
</div> 

{% endfor %}
<br>
<p></p>

<!-- Rejected Meetings -->

</div>

<br>
<br>
<h4 style=" width:100%">Rejected Meetings</h4>
<div class="row staff-grid-row">
{% for meeting in reject_meetings %}
<div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
<div class="profile-widget">
<div class="profile-img"> 
<a href="#" class="avatar"><img alt="" id = 'prof{{meeting.id}}' src="#"></a>
</div>



<h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="#">{{meeting.prof.company}}</a></h4>
<h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="#">{{meeting.prof.user.first_name}}</a></h5>
<div class="small text-muted">{{meeting.date_time}}</div>
<!-- <a href="#" class="btn btn-white btn-sm m-t-10" style="background-color: #fac04d">Message</a>
<a href="/fresher/{{meeting.fresher.user.id}}" class="btn btn-white btn-sm m-t-10" style="background-color: #56f5fc">View Profile</a> -->
<!-- button to join meeting -->


</div>
</div> 

{% endfor %}


</div>



<!-- <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
<div class="profile-widget">
<div class="profile-img">
<a href="smarthr-laravel/html-template/light/client-profile.html" class="avatar"><img alt="" src="smarthr-laravel/html-template/light/assets/img/profiles/avatar-29.jpg"></a>
</div>
<div class="dropdown profile-action">
<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
</div>
</div>
<h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="smarthr-laravel/html-template/light/client-profile.html">Delta Infotech</a></h4>
<h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="smarthr-laravel/html-template/light/client-profile.html">Tressa Wexler</a></h5>
<div class="small text-muted">Manager</div>
<a href="smarthr-laravel/html-template/light/chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
<a href="smarthr-laravel/html-template/light/client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
</div>
</div> -->





<!-- div for approving the interview request -->
<div id="add_client" class="modal custom-modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Approve Meeting</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <center> Please message the respective applicant before approving the meeting.
            If you are not comfortable with timings,<u style="color: red"> You can change and approve. </u>
        <h4>Skills:</h4>
        <p><u style="color:blue">Java, Skills, God , Not god</u></p>
        <h4>Date & Timing</h4>
        <h3 id="datetime"></h3>
    </center>

    <form method="POST" action="/pro_dashboard">
        {% csrf_token %}
        <input type="number" style="display: none" name="meeting_id" id="meeting_id">
    <div class="row">
        <div class="col-md-6"> 
        <div class="form-group">
        <label class="col-form-label">Time<span class="text-danger">*</span></label>
        <input class="form-control" name="time" type="time" required id ="time_input">
        </div>
        </div>
    <div class="col-md-6">
     <div class="form-group">
    <label class="col-form-label">Date (MM-DD-YYYY)<span class="text-danger">*</span></label>
    <input class="form-control" name="date" type="date" data-date="" data-date-format="DD MMMM YYYY" required id="date_input">
    </div>
    </div>
    
    </div>
      
    
    <div class="submit-section">
    <button class="btn btn-primary submit-btn">Submit</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
<!-- end of division for approving the request -->

<!-- div for rejecting the interview request -->
<div class="modal custom-modal fade" id="delete_client" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-body">
    <div class="form-header">
    <h3>Delete Client</h3>
    <p>Are you sure want to delete?</p>
    </div>
    <div class="modal-btn delete-action">
    <div class="row">
    <div class="col-6">
    <a href="javascript:void(0);" onclick="reject()" class="btn btn-primary continue-btn">Reject</a>
    </div>
    <div class="col-6">
    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
<!-- endof div to reject the interview request -->

</div>

</div>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/js-joda/1.11.0/js-joda.min.js"
    integrity="sha512-piLlO+P2f15QHjUv0DEXBd4HvkL03Orhi30Ur5n1E4Gk2LE4BxiBAP/AD+dxhxpW66DiMY2wZqQWHAuS53RFDg=="
	crossorigin="anonymous"></script>
	
	
<!-- code to oload all the profile pictures of the professional -->
<script>

'{% for i in meetings %}'

var url = "{{i.fresher.profile_pic}}";

// console.log(url);

 fetch(url).then(function(response) {
   response.text().then(function(text)
    {document.getElementById('prof{{i.id}}').src = text;});});

'{% endfor %}'

</script>



<script>


    '{% for i in approved_meetings %}'
	
     console.log('{{i.date_time.year}}','{{i.date_time.month}}','{{i.date_time.day}}');

     var date =  JSJoda.LocalDate.of('{{i.date_time.year}}','{{i.date_time.month}}','{{i.date_time.day}}');
     
     var d_remain = days(date); // days remaining for meeting 
     if (d_remain > 0)
     {
      document.getElementById('{{i.id}}').innerHTML = d_remain + ' Days Left';
     }
     else if (d_remain < 0)
     {

      document.getElementById('{{i.id}}').innerHTML = 'Video';
      var element = document.getElementById("{{i.id}}");
        element.addEventListener("click", function(){
        window.location = '/player_now/{{i.id}}' ;
        
        });
     }
     else{
      document.getElementById('{{i.id}}').innerHTML = 'Join Meeting';

        var element = document.getElementById("{{i.id}}");
        element.addEventListener("click", function(){
        window.location = '/video_prepare/f_{{i.id}}_meeting';
        });
    }

     '{% endfor %}'

	function days(date2)
    {
     
    let date1 = JSJoda.LocalDate.of('{{today.year}}','{{today.month}}','{{today.day}}');

    let daysBetween = JSJoda.ChronoUnit.DAYS.between(date1, date2);
    // console.log(date2,date1,daysBetween);
    
    return daysBetween
    
    }

var reject_id = 0;


var booking_timings = {
    // Code to show approve button for the professional, these meeting consist of aprroved and pending meetings only
   {% for i in meetings %}
    '{{i.id}}':['{{i.date_time.year}}-{{i.date_time.month}}-{{i.date_time.day}}','{{i.date_time.time}}','{{i.date_time}}'],
   {% endfor %}
    }
    //      

console.log(booking_timings);


function update(id)
{
    console.log(id)
document.getElementById("date_input").valueAsDate = new Date(booking_timings[id][0]);
var t = booking_timings[id][1];
// <!-- code to convert time to input format -->

if(t.slice('-4','-1') == 'p.m')
{
    // if time is greater than 12 change it to 0
    var h = parseInt(t.split(':')[0])
    if (h == 12)
    {
    t =  JSON.stringify(h) + ':' + t.split(':')[1].split(' ')[0]
    }
    else
    {
        t =  JSON.stringify(h+12) + ':' + t.split(':')[1].split(' ')[0]
    }
    
}
else if(parseInt(t.split(':')[0]) < 10)
{
    t ='0' +  t.split(' ')[0]
}

else{
    t = t.split(' ')[0];
}

document.getElementById("datetime").innerHTML = booking_timings[id][2];
document.getElementById('time_input').value = t;
document.getElementById('meeting_id').value = id;
}

// <!-- end of code for handle input of  update timeings -->

</script>

<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/popper.min.js' %}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/select2.min.js' %}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/app.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>

$(document).ready(function(){
    $("input").on("change", function() {
    this.setAttribute(
        "data-date",
        moment(this.value, "YYYY-MM-DD")
        .format( this.getAttribute("data-date-format") )
    )
}).trigger("change")
});
   
function reject_popup(id)
{
    reject_id  = id;
}

function reject()
{
// <!-- code for rejecting the  interview -->
$(document).ready(function(){

 $.get("/reject/"+reject_id, function(data, status){
     

     if(status == 'success')
     {
         window.location.reload();
     }
     else
     {
         alert('Soory,',data.message)
     }
  });
});
}

// <!--  -->
</script>
</html>