{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="Smarthr - Bootstrap Admin Template">
<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
<meta name="author" content="Dreamguys - Bootstrap Admin Template">
<meta name="robots" content="noindex, nofollow">
<title>Client Profile - HRMS admin template</title>

<link rel="shortcut icon" type="image/x-icon" href="https://smarthr.dreamguystech.com/smarthr-laravel/html-template/light/assets/img/favicon.png">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/line-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'hrdash/smarthr-laravel/html-template/light/assets/css/style.css' %}">

</head>
<body>

<div class="main-wrapper">


    {% include "submenu.html" %}


<div class="page-wrapper" style="min-height: 775px;">

<div class="content container-fluid">

<div class="page-header">
<div class="row">
<div class="col-sm-12">
<h3 class="page-title">Profile</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="https://smarthr.dreamguystech.com/smarthr-laravel/html-template/light/index.html">Dashboard</a></li>
<li class="breadcrumb-item active">Profile</li>
</ul>
</div>
</div>
</div>

<div class="card mb-0">
<div class="card-body">
<div class="row">
<div class="col-md-12">
<div class="profile-view">
<div class="profile-img-wrap">
<div class="profile-img">
<a href="">
<img src="#" alt="" id="pro_pic">
</a>
</div>
</div>
<div class="profile-basic">
<div class="row">
<div class="col-md-5">
<div class="profile-info-left">
<h3 class="user-name m-t-0"> {{pro_user.first_name}}</h3>
<h5 class="company-role m-t-0 mb-0">{{pro_user.proaccount.company}}</h5>
<small class="text-muted">{{pro_user.proaccount.designation}}</small>
<div class="staff-id">Experience: {{pro_user.proaccount.total_exp_year}} years. </div>
<div class="staff-id">Stream: {{pro_user.proaccount.stream}}  </div>

<div class="staff-msg"><a href="#" class="btn btn-custom">Send Message</a></div>
<div class="staff-msg"><a href="/player_now/{{prof.pro_interview.id}}" class="btn btn-custom">Interview Video</a></div>
<div class="staff-msg"><a href="/book/{{prof.user.id}}" class="btn btn-custom">Book Interview</a></div>
<div class="staff-msg"><a href="#" onclick="download_file('{{prof.id}}')" class="btn btn-custom" download="resume.pdf">Resume</a></div>

</div>
</div>

<div class="col-md-7">
<ul class="personal-info">
<li>
<span class="title">Skills Interviewed:</span> 
<span class="text"><a href="#">{{prof.pro_interview.topics}}</a></span>
</li>

<li>
<span class="title">City:</span>
<span class="text">{{pro_user.proaccount.city}}</span>
</li>
<li>
        <span class="title">Language Spoken:</span>
        <span class="text">{{pro_user.proaccount.language_spoke}}</span>
</li>
<li>
        <span class="title">About:</span>
        <span class="text">{{pro_user.proaccount.about_yourself}}</span>
</li>


</ul>
</div> 

</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="card tab-box">
<div class="row user-tabs">
<div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
<ul class="nav nav-tabs nav-tabs-bottom">
<li class="nav-item col-sm-3"><a class="nav-link active" data-toggle="tab" href="#myprojects">Experience</a></li>
<!-- <li class="nav-item col-sm-3"><a class="nav-link" data-toggle="tab" href="#tasks">Tasks</a></li> -->
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="tab-content profile-tab-content">

<div id="myprojects" class="tab-pane fade show active">
<div class="row">

{% for i in pro_user.proaccount.experience.all %}
<div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
<div class="card">
<div class="card-body">


<h4 class="project-title"><a href="#">{{i.company}}</a></h4>
<h5>{{i.designation}}</h5>
<!-- <p class="text-muted">{{i.project}}
</p> -->

<div class="pro-deadline m-b-15">
<div class="sub-title">
From:
</div>
<div class="text-muted">
{{i.cfrom}}
</div>
</div>


<div class="pro-deadline m-b-15">
<div class="sub-title">
Till:
</div>
<div class="text-muted">
{{i.cto}}
</div>
</div>


</div>
</div>
</div>

{% endfor %}

</div>
</div>



<!-- <div id="tasks" class="tab-pane fade">
<div class="project-task">
<ul class="nav nav-tabs nav-tabs-top nav-justified mb-0">
<li class="nav-item"><a class="nav-link active" href="#all_tasks" data-toggle="tab" aria-expanded="true">All Tasks</a></li>
<li class="nav-item"><a class="nav-link" href="#pending_tasks" data-toggle="tab" aria-expanded="false">Pending Tasks</a></li>
<li class="nav-item"><a class="nav-link" href="#completed_tasks" data-toggle="tab" aria-expanded="false">Completed Tasks</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="all_tasks">
<div class="task-wrapper">
<div class="task-list-container">
<div class="task-list-body">
<ul id="task-list">
<li class="task">
<div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
<span class="task-label" contenteditable="true">Patient appointment booking</span>
<span class="task-action-btn task-btn-right">
 <span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
</div>
</li>
<li class="task">
<div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
<span class="task-label" contenteditable="true">Appointment booking with payment gateway</span>
<span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
</div>
</li>
<li class="completed task">
<div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
<span class="task-label">Doctor available module</span>
<span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
</div>
</li>
<li class="task">
<div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
<span class="task-label" contenteditable="true">Patient and Doctor video conferencing</span>
<span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
</div>
</li>
<li class="task">
<div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
<span class="task-label" contenteditable="true">Private chat module</span>
<span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
</div>
</li>
<li class="task">
<div class="task-container">
<span class="task-action-btn task-check">
<span class="action-circle large complete-btn" title="Mark Complete">
<i class="material-icons">check</i>
</span>
</span>
<span class="task-label" contenteditable="true">Patient Profile add</span>
<span class="task-action-btn task-btn-right">
<span class="action-circle large" title="Assign">
<i class="material-icons">person_add</i>
</span>
<span class="action-circle large delete-btn" title="Delete Task">
<i class="material-icons">delete</i>
</span>
</span>
</div>
</li>
</ul>
</div>
<div class="task-list-footer">
<div class="new-task-wrapper">
<textarea id="new-task" placeholder="Enter new task here. . ."></textarea>
<span class="error-message hidden">You need to enter a task first</span>
<span class="add-new-task-btn btn" id="add-task">Add Task</span>
<span class="btn" id="close-task-panel">Close</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div> -->

</div>
</div>
</div>
</div>

</div>
</div>


<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/jquery-3.5.1.min.js' %}"></script>

<script>

var url = "{{pro_user.proaccount.profile_pic}}";

fetch(url).then(function(response) {
response.text().then(function(text)
{document.getElementById('pro_pic').src = text;});});


//code to download the file
function download_file(fileURL, fileName='resume.pdf') {
    
    var url = ''
    
    fetch('/get_url/'+fileURL).then((response) => {
  if (response.ok) {
    return response.json();
  } else {
    throw new Error('good');
  }
})
.then((responseJson) => {
  // Do something with the response
    
    if (responseJson.message)
    {
        if (responseJson.message == 'login')
        {
            window.location = '/prologin';
        }
        else{
            alert(responseJson.message);
        }

        return 
    }
    // for non-IE
    if (!window.ActiveXObject) {
        var save = document.createElement('a');
        save.href = responseJson.url ;
        save.target = '_blank';
        save.download = fileName || 'unknown';

        var evt = new MouseEvent('click', {
            'view': window,
            'bubbles': true,
            'cancelable': false
        });
        save.dispatchEvent(evt);

        (window.URL || window.webkitURL).revokeObjectURL(save.href);
    }
}).catch((error) => {     // code for something gone wrong while fetching the url
//   console.log(JSON.stringify(error));
 alert('Error, Please try again later' );
});
}

</script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/popper.min.js' %}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/select2.min.js' %}"></script>
<script src="{% static 'hrdash/smarthr-laravel/html-template/light/assets/js/app.js' %}"></script>

</body>
</html>